<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/bootstrap/js/jquery-2.1.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<center>
    <br><br>
    <h1>Account balance: <%= currentBalance %>$</h1>
    <p>Transactions history:</p>
    <div class="list-group" style="max-width: 500px">
        <% for(var i = transactions.length - 1; i >= 0; i--) { %>
            <button type="button"
                    class="btn btn-outline-<% if(transactions[i].success) {if(transactions[i].type === "debit"){ %>danger<% }else{ %>success<% }}else{ %>secondary<% } %>"
                    data-toggle="collapse" data-target="#block-<%= i %>"
                    aria-expanded="false" aria-controls="block-<%= i %>">
                <%= transactions[i].amount %>$, <%= transactions[i].type %> <%= transactions[i].info %>
            </button>
            <p class="collapse" id="block-<%= i %>">
                id: <%= transactions[i].id || "-" %>; date: <%= transactions[i].effectiveDate.toUTCString(); %>
            </p>
        <% } %>
    </div>
</center>
</body>

</html>
